body {
    background-color: black;
}

#canvas {
    position: relative;
    left: 20%;
}

h1 {
    color: white;
}

.display-block {
    display: inline-block;
    position: relative;
}

.overlapping-div {
    background-color: black;
    width: 1024px;
    height: 580px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#attack-bar {
    background-color: white;
    width: 1020px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 388px;
    bottom: 0;
    border: 4px solid black;
    display: flex;
}

.attack-button {
    width: 66.66%;
}

.attack-type {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    border-left: 4px solid black;
}

h2 {
    margin: 0;
}